# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
staticfiles/
db.sqlite3
api/cache/*.json

# Node
node_modules/
dist/
.vite/

# Ambiente
.env
.env.local
*.log

# SO / editor
.DS_Store
.idea/
.vscode/
*.patch

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
